
html,body{
	background-color: #FFFFFF;
}
.tonggao-title{
	width: 96%;
	margin: 30px auto;
	border: 1px solid #EEEEEE;
}
.huifu{
	width: auto;
	height: 0.3rem;

	
}
.huifu-box{
	height: 0.9rem;
	width: 96%;
	display:none;	
	font-size: 0.22rem;
	padding: 0.1rem;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	background-color: #FFFFFF;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	
}
.huifu-box>input{
	height: 90%;
	width:70%;
	background-color: #EEEEEE;
	border:none;
	float: left;
	
}
.fasong{
	width: 15%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border:1px solid #EEEEEE; 
	float: left;
	
}
.fas{
	width: 15%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border:1px solid #EEEEEE; 
	float: left;
	
}
.huifu-box2{
	height: 65px;
	width: 96%;
	display:none;
	
	font-size: 16px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	
}
.huifu-box2>input{
	height: 90%;
	width: 80%;
	background-color: #EEEEEE;
	botder:none;
	float: left;
	
}
.fasong2{
	width: 20%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border:1px solid #EEEEEE; 
	float: left;
	
}
.img{
	float: left;
	width: 31%;
	height: 1.8rem;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 0.05rem;
	margin-top: 0.05rem;
}
.img>img{
	width: 100%;
	height: 100%;
}
.imgbox{
	width: 100%;
	margin-top: 0.1rem;
}
.title{
font-size: 17px;
}
.dizhi{
	width: 100%;
	font-size: 0.14rem;
	text-align: left;
	text-indent: 0.05rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 0.1rem;
	color: #4C4A8E;
}
.createTime{
	margin-top: 0.15rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.2rem;
}
.ingaddr{
	width: 0.18rem;
	margin-right: 0.1rem;
}
.fdongtai{
	height:100%;
	width:0.8rem;
	position: absolute;
	right:0.15rem;
	top:0;
	text-align: left;
	line-height: 1.07rem;
	display: flex;
	align-items: center;
	font-size: 0.24rem;
}
.friend-bg{
	margin-top: 1.07rem;
	width: 100%;
	height: 5.05rem;
	background: url("../img/friends-bg.jpg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100% 100%;
    position: relative;
    color: #FFFFFF;
    font-size: 0.26rem;
}
#username{
	position: absolute;
	right: 1.75rem;
	bottom: 0.26rem;
	
}
#name-img{
	width: 1.4rem;
	height: 1.4rem;
	box-sizing: border-box;
	border: 2px solid #EEEEEE;
	position: absolute;
	right: 0.25rem;
	bottom:-0.53rem;
	background-color: #FFFFFF;
}
.ltem-list-one{
	width: 100%;
	padding: 0 0.25rem;
	box-sizing: border-box;
	margin: 0.53rem auto 0;
	border-bottom: 2px solid #E3E3E3;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 0.2rem;
}

.tx-box{	
	border:2px solid #EEEEEE;
	width: 0.85rem;
	height: 0.85rem;
	box-sizing: border-box;
	
}
.tx-box>img{
	width: 100%;
	height: 100%;
}
.ltem-one-right{
	width: 85%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.zxcv{
	margin-top: 0.1rem;
	font-size: 0.22rem;
	color: #4C4A8E;
}
.saidContent{
	width: 100%;
	height: auto;
	margin-top: 0.15rem;
	font-size: 0.24rem;
	color: #222222;
	padding-right: 0.1rem;
	box-sizing: border-box;
	word-wrap: break-word; 
	word-break: normal;
}
.huofubox{
	background-color: #EEEEEE;
	border-radius: 0.1rem;
	width: 100%;
	/*height: 3rem;*/
	margin-bottom: 0.2rem;
	margin-top: 0.1rem;
	font-size: 0.2rem;
	padding: 0.1rem;
	box-sizing: border-box;
}
.gen-box{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	margin-top: 0.1rem;
}
