*{
padding: 0px;
margin: 0px;
}
html,body{
	background-color: white;
	width: 100%;
}
ul,li{
	list-style: none;
}
/*header{
	height:.96rem;
	width: 100%;
	background-color: #000;	
	position: fixed;
	top: 0px;
	left: 0px;	
	display: flex;
	justify-content: flex-start;
	align-items:center;
	z-index: 999;
}

header>a>img{
	height:0.4rem;
	
}
header>a{
     margin-left: 5%;
	width:0.8rem;
	
	
}
header>span{
	color:#fff;
	font-size:.34rem;
	line-height:0.96rem;
	margin-left: 30%;
}*/
	header{
		height:.96rem;width:100%;
		background-color: #000;
		text-align: center;
		position: fixed;
		top: 0;
		z-index: 999;
	}
	
	header>a>img{
		height:.4rem;
		vertical-align: middle;
	}
	header>a{
		height:100%;width:.8rem;
		position: absolute;
		left:3%;top:0;
		text-align: left;
		line-height: .96rem;
	}
	header>span{
		color:#fff;
		font-size:.34rem;
		line-height: .96rem;
	}
.order-details-content{
	margin-top: 0.96rem;
	background-color: white;
    margin-bottom: 1.05rem;
    width:7.5rem;
    z-index: 100;
}
.dindanhao{
	width: 100%;
	height: 0.9rem;
	background-color: #FFF7ED;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.28rem;
	color: #999;
}
.order-details-one{
	width: 100%;
	height: auto;
	
	border-bottom: 0.17rem solid #F4F3F8;
}
.od-top{
	width: 100%;
	height: 0.88rem;
	font-size: 0.3rem;
	display: flex;
	justify-content: space-between;
    align-items: center;
    color: #999;
}
.od-top span{
	margin-left: 0.25rem;
}
.od-top img{
	height: auto;
	width: 0.3rem;
	margin-right: 0.35rem;
}
.od-bottom{
	width: 96.5%;	
	margin-left: 3.5%;
	display: none;
	
}
.active{
	background-color:#F4F3F8 ;
}
.od-bottom ul{
	
	padding: 0.1rem 0px;
	
}
.od-bottom li{
	height: 0.45rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.24rem;
}
.od-bottom-left{
	width: 25%;
	font-size: 0.26rem;
	color: #333333;
}
.od-bottom-right{
	width: 60%;
	font-size: 0.24rem;
	color: #999;
}
.od-bottom-two{
	width: 96.5%;	
	margin-left: 3.5%;
	display: none;
}
.od-bottom-two ul{
	/*border-bottom:1px solid #eee;*/	
	/*padding: 0.1rem 0px;*/
}
.od-bottom-two li{
	min-height: 0.45rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.24rem;
	padding-right:.5rem;
}
.push-box{
	width: 100%;
	height: 0.9rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.push-box button{
	border: 1px solid red;
	color: red;
	padding: 0.1rem 0.15rem;
	font-size: 0.24rem;
	margin-right: 0.18rem;
}
.feedback{
	width: 100%;
	min-height: 0.45rem;
	display: flex;
	justify-content: flex-start;

	font-size: 0.24rem;
}
.fileStart{
	margin-left: 0.3rem;
}
.imgstart{
	width: 0.4rem;
	height: auto;
	
}
.feedback .od-bottom-right{
	word-wrap: break-word;
	 word-break: normal;
	 line-height: 0.3rem;
}
.school{
	width: 97%;
	height: auto;
	
	/*padding-bottom: 0.4rem;*/
}
.school-one{
	width: 100%;
	height: 1.7rem;
	background-color: #F8F8F8;
	margin-top: 0.3rem;
	
	
}
.school-one ul{
	border:none;
	width: 100%;
	height: 1.7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.school-one li{
	
	height: 0.4rem;
	font-size: 0.24rem;
	color: #999;
	
}
.school-one-left{
	width: 25%;
	margin-left: 5%;
}
.peijian-box{
	width: 97%;
	height: auto;
	/*border-top: 1px dashed #eee;*/
	/*padding-bottom: 0.4rem;*/
}
.peijian-one{
	width: 100%;
	height: 2.3rem;
	background-color: #F8F8F8;
	margin-top: 0.3rem;
}
.peijian-one ul{
	border: none;
	height: 2.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.peijian-one li{
	height: 0.4rem;
	font-size: 0.24rem;
	color: #999;
}
.dibu-box{
	width: 100%;
	height: 1.05rem;
	background-color: #181d23;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.dibu-one{
	width: 0.7rem;
	height: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.dibu-one img{
	height: 0.40rem;
	width: auto;
}
.dibu-one span{
	font-size: 0.22rem;
	color: #999999;
}
#partOffers .school-one{
	min-height:2.3rem;
	padding:0.3rem 0.3rem;
	box-sizing: border-box;
}
#partOffers .school-one li{
	color:#999999;
}
#partOffers .school-one li>span{
	color:#999999;
}
.clear { clear: both;  }

.zoomed > .container {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.feedbackzd{
	width:1.3rem;
}
#look {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
#look>img {
	width:100%;
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
}
#look>span{
	font-size:1rem;
	position: fixed;
	top:2%;right:3%;
	color:#ccc;	
	z-index: 999;
}
#look1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
#look1>img {
	width:100%;
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
}
#look1>.btn{
	font-size:1rem;
	position: fixed;
	top:2%;right:3%;
	color:#ccc;
	z-index: 999;
}
#look1>.btn1{
	font-size:1rem;
	position: fixed;
	top:48%;left:3%;
	color:#ccc;
	z-index: 999;
}
#look1>.btn2{
	font-size:1rem;
	position: fixed;
	top:48%;right:3%;
	color:#ccc;
	z-index: 999;
}
.look,.look1,.fileStart{
	color:#008000;
}
#look1>img{
	display: none;
}	
.jiuyuan-title{
	width: 97%;
	height: 0.7rem;
	font-size: 0.3rem;
	line-height:0.7rem;
	text-align: center;
	background-color: #F3F3F3;
	margin-bottom: 0.1rem;
}
#modifycar{
	border: 1px solid red;
    color: red;
    padding: 0.1rem 0.15rem;
    font-size: 0.24rem;
    margin-right: 0.18rem;
}
.disabled2{
  pointer-events: none;
 margin-left: 0.6rem;
 
}